<div class="container">
  <div class="flex items-center">
    <h1 class="text-2xl font-bold mb-4 flex-1">Usuarios</h1>
    <button class="btn" routerLink="/home/users/create">Crear usuario</button>
  </div>

  @if (store.isLoading()) {
    <div class="flex justify-center items-center py-8">
      <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-primary"></div>
    </div>
  }
  @if (store.errorMessage()) {
    <div class="text-red-600 text-center py-4">{{ store.errorMessage() }}</div>
  }

  @if (!store.isLoading() && store.employeesWithRoles().length > 0) {
    <div class="overflow-x-auto rounded-lg border border-slate-300 overflow-hidden mt-14">
      <table cdk-table [dataSource]="store.employeesWithRoles()" class="min-w-full bg-slate-50">
        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef class="px-6 py-4 text-left font-semibold text-slate-700">Nombre</th>
          <td cdk-cell *cdkCellDef="let row" class="px-6 py-4 align-middle text-slate-700 bg-white font-medium">
            {{ row.profile.name }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="role">
          <th cdk-header-cell *cdkHeaderCellDef class="px-6 py-4 text-left font-semibold text-slate-700">
            Rol
          </th>
          <td cdk-cell *cdkCellDef="let row" class="px-6 py-4 align-middle text-slate-700 bg-white">
            <span class="inline-block rounded-full bg-blue-100 text-blue-800 text-xs px-3 py-1 font-semibold">
              {{ row.role?.name ?? 'N/A' }}
            </span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef class="px-6 py-4 text-center font-semibold text-slate-700">Acciones</th>
          <td cdk-cell *cdkCellDef="let row" class="px-6 py-4 align-middle bg-white">
            <div class="flex justify-center gap-2">
              <button [routerLink]="['/home/users', row.uid, 'edit']" class="cursor-pointer">
                <span class="material-symbols-rounded">visibility</span>
              </button>
            </div>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="bg-slate-100"></tr>
        <tr
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns"
          class="border-b border-slate-300 last:border-b-0"
        ></tr>
      </table>
    </div>
  }
  @if (!store.isLoading() && store.employees().length === 0) {
    <div class="text-center text-slate-500 py-8">No hay usuarios registrados.</div>
  }
</div>
