:host {
  .permissions-matrix {
    th,
    td {
      min-width: 100px;
    }

    th:first-child,
    td:first-child {
      min-width: 120px;
      font-weight: 500;
      text-align: left;
    }

    th {
      white-space: nowrap;
    }

    input[type='checkbox'] {
      cursor: pointer;
    }
  }
}
