<div class="max-w-3xl mx-auto">
  <div class="flex items-center mb-6">
    <h1 class="text-2xl font-bold">Crear nuevo servicio</h1>
  </div>

  <h2 class="text-md text-neutral-700 mb-2">Información del servicio</h2>
  <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
    <form
      [formGroup]="form"
      class="grid grid-cols-2 gap-4 items-start"
      id="form-create-service"
      (ngSubmit)="saveService()"
    >
      <div class="grid gap-3">
        <label for="name" class="label">Nombre del servicio</label>
        <input
          class="input"
          formControlName="name"
          type="text"
          [attr.aria-invalid]="form.get('name')?.invalid && form.get('name')?.touched"
        />
      </div>

      <div class="grid gap-3">
        <label for="description" class="label">Descripción (opcional)</label>
        <textarea
          class="textarea"
          formControlName="description"
          rows="3"
          [attr.aria-invalid]="form.get('description')?.invalid && form.get('description')?.touched"
        ></textarea>
      </div>
    </form>
  </div>

  <h2 class="text-md text-neutral-700 mb-2">Horarios del servicio</h2>
  <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
    <div class="grid grid-cols-2 gap-4 items-start">
      <div class="grid gap-3">
        <label for="duration" class="label">Duracion del servicio (minutos)</label>
        <input class="input" type="number" id="duration" />
      </div>
      <div class="grid gap-3">
        <label for="capacity" class="label">Capacidad</label>
        <input class="input" type="number" id="capacity" />
      </div>
      <div class="grid gap-3">
        <div class="flex items-center gap-2">
          <label for="minReserveMinutes" class="label">
            Tiempo mínimo para reservar (minutos)
            <span class="material-symbols-rounded text-sm" uiTooltip [uiTooltip]="minReserveTooltip">help</span>
          </label>
        </div>
        <input class="input" type="number" id="minReserveMinutes" />
      </div>
      <div class="grid gap-3">
        <div class="flex items-center gap-2">
          <label for="minCancelMinutes" class="label">
            Tiempo mínimo para cancelación (minutos)
            <span class="material-symbols-rounded text-sm" uiTooltip [uiTooltip]="minCancelTooltip">help</span>
          </label>
        </div>
        <input class="input" type="number" id="minCancelMinutes" />
      </div>
    </div>

    <div>
      <ui-switch-selector [options]="typeSchedule"></ui-switch-selector>
    </div>


    <div class="grid gap-3">
      <label for="daysOfWeek" class="label">Días de la semana</label>
      <ui-day-selector [availableDays]="DAYS_OF_WEEK"></ui-day-selector>
    </div>
  </div>
  @if (errorMessage) {
    <div class="text-red-400 text-sm mb-2">{{ errorMessage }}</div>
  }
  <div class="flex justify-between items-center">
    <button class="btn-outline" routerLink="/home/services">Cancelar</button>
    <button
      class="btn"
      type="submit"
      form="form-create-service"
      ui-button
      [disabled]="form.invalid"
      [isLoading]="isLoading"
    >
      Guardar
    </button>
  </div>
</div>
