rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /facilities/{facilityId}/logo {
      allow read: if true;
      allow write: if request.auth != null
        && 'super_admin' in request.auth.token.roles
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
