<div class="container">
  <div class="flex items-center mb-6">
    <h1 class="text-2xl font-bold">Crear Nuevo Usuario</h1>
  </div>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
      <form [formGroup]="form" class="grid grid-cols-2 gap-4">
        <div class="grid gap-3">
          <label for="name" class="label">Nombre completo</label>
          <input 
            class="input" 
            id="name" 
            formControlName="name" 
            type="text" 
            placeholder="Ingrese el nombre completo"
            [attr.aria-invalid]="form.get('name')?.invalid && form.get('name')?.touched"
          />
        </div>
        
        <div class="grid gap-3">
          <label for="email" class="label">Correo electrónico</label>
          <input 
            class="input" 
            id="email" 
            formControlName="email" 
            type="email" 
            placeholder="Ingrese el correo electrónico"
            [attr.aria-invalid]="form.get('email')?.invalid && form.get('email')?.touched"
          />
        </div>

        <div class="grid gap-3">
          <label for="role-select" class="label">Rol</label>
          <ui-select 
            id="role-select"
            formControlName="roleId" 
            placeholder="Seleccionar rol"
          >
            @for (role of store.roles(); track role.id) {
              <ui-option [value]="role.id">
                {{ role.name }}
              </ui-option>
            }
          </ui-select>
        </div>

        <div class="grid gap-3">
          <label for="type-select" class="label">Tipo de usuario</label>
          <ui-select 
            id="type-select"
            formControlName="type" 
            placeholder="Seleccionar tipo de usuario"
          >
            @for (type of userTypes; track type) {
              <ui-option [value]="type">{{ userTypesDictionary[type] }}</ui-option>
            }
          </ui-select>
        </div>
      </form>
    </div>
    @if (store.statusSaveMessage()) {
      <div class="text-red-400 text-sm mb-2">{{ store.statusSaveMessage() }}</div>
    }
    <div class="flex justify-between items-center">
      <button class="btn-secondary" routerLink="/home/users">Cancelar</button>
      <button
        class="btn"
        (click)="saveUser()"
        [disabled]="form.invalid || store.isLoading()"
      >
        @if (store.isLoading()) {
          <svg class="animate-spin h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
        }
        Guardar
      </button>
    </div>
  </div>
</div>
