<div class="container">
  <div class="flex items-center mb-6">
    <h1 class="text-2xl font-bold">Crear nuevo permiso</h1>
  </div>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
      <form [formGroup]="form" class="mb-8">
        <pk-form-field [label]="'Nombre del rol'" class="mb-4">
          <input pkInput formControlName="roleName" class="w-full" />
        </pk-form-field>

        <div class="flex flex-col gap-4 items-stretch sm:flex-row sm:items-end">
          <pk-form-field [label]="'Acción'" class="w-full sm:w-auto">
            <pk-select formControlName="action" [tabIndex]="0">
              <pk-option *ngFor="let action of actions" [value]="action">
                {{ actionsDictionary[action] }}
              </pk-option>
            </pk-select>
          </pk-form-field>

          <pk-form-field [label]="'Sección'" class="w-full sm:w-auto">
            <pk-select formControlName="section">
              <pk-option *ngFor="let section of sections" [value]="section">
                {{ sectionsDictionary[section] }}
              </pk-option>
            </pk-select>
          </pk-form-field>

          <div class="w-full sm:grow">
            <button
              pk-button
              variant="outline"
              class="pk-btn-primary ml-auto block w-full sm:w-auto"
              type="button"
              (click)="addPermissionAction()"
            >
              Agregar acción
            </button>
          </div>
        </div>
        <div *ngIf="duplicateError" class="text-red-600 text-sm mt-2">Esta combinación ya fue agregada.</div>
      </form>

      <div *ngIf="dataSource.length > 0" class="overflow-x-auto">
        <table cdk-table [dataSource]="dataSource" class="min-w-full border rounded-lg bg-white">
          <ng-container cdkColumnDef="action">
            <th cdk-header-cell *cdkHeaderCellDef class="px-4 py-2 text-left font-semibold border-b">Acción</th>
            <td cdk-cell *cdkCellDef="let element" class="px-4 py-2 border-b">
              {{ getActionLabel(element?.action) }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="section">
            <th cdk-header-cell *cdkHeaderCellDef class="px-4 py-2 text-left font-semibold border-b">Sección</th>
            <td cdk-cell *cdkCellDef="let element" class="px-4 py-2 border-b">
              {{ getSectionLabel(element?.section) }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="delete">
            <th cdk-header-cell *cdkHeaderCellDef class="px-4 py-2 text-center font-semibold border-b"></th>
            <td cdk-cell *cdkCellDef="let element; let i = index" class="px-4 py-2 text-center border-b">
              <button class="delete-button" type="button" (click)="removePermissionAction(i)">
                <span class="material-symbols-rounded">delete</span>
              </button>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <button pk-button variant="flat" class="pk-btn-secondary" routerLink="/home/permissions">Cancelar</button>
      <button pk-button variant="flat" class="pk-btn-primary">Guardar</button>
    </div>
  </div>
</div>
