<div class="max-w-3xl mx-auto">
  <div class="flex items-center mb-6">
    <h1 class="text-2xl font-bold">Editar servicio</h1>
  </div>

  @if (isLoading()) {
    <div class="flex justify-center items-center py-8">
      <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-primary"></div>
    </div>
  }

  @if (!isLoading() && currentService()) {
    <h2 class="text-md text-neutral-700 mb-2">Información del servicio</h2>
    <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
      <form
        [formGroup]="form"
        class="grid grid-cols-2 gap-4 items-start"
        id="form-edit-service"
        (ngSubmit)="saveService()"
      >
        <div class="grid gap-3">
          <label for="name" class="label">Nombre del servicio</label>
          <input
            class="input"
            formControlName="name"
            type="text"
            [attr.aria-invalid]="form.get('name')?.invalid && form.get('name')?.touched"
          />
        </div>

        <div class="grid gap-3">
          <label for="description" class="label">Descripción (opcional)</label>
          <textarea
            class="textarea"
            formControlName="description"
            rows="3"
            [attr.aria-invalid]="form.get('description')?.invalid && form.get('description')?.touched"
          ></textarea>
        </div>
      </form>
    </div>

    <h2 class="text-md text-neutral-700 mb-2">Agregar horarios</h2>
    <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
      <app-schedule-form (scheduleSubmit)="onScheduleFormSubmit($event)"></app-schedule-form>

      @if (conflictError()) {
        <p class="text-red-500 text-sm mt-2">{{ conflictError() }}</p>
      }
    </div>

    <h2 class="text-md text-neutral-700 mb-2">Horarios configurados</h2>
    <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
      @if (currentServiceSchedules().length > 0) {
        <ui-week-calendar [slots]="calendarSlots()" (slotClick)="onSlotClick($event)"></ui-week-calendar>
      } @else {
        <div class="text-center text-slate-500 py-8">No hay horarios configurados para este servicio</div>
      }
    </div>

    @if (showErrorMessage()) {
      <div class="text-red-400 text-sm mb-2">{{ showErrorMessage() }}</div>
    }

    <div class="flex justify-between items-center">
      <button class="btn-outline" routerLink="/home/services/{{ serviceId }}">Cancelar</button>

      <button
        class="btn"
        type="submit"
        form="form-edit-service"
        ui-button
        [disabled]="form.invalid"
        [isLoading]="isSaving()"
      >
        Guardar cambios
      </button>
    </div>
  }

  @if (!isLoading() && !currentService()) {
    <div class="text-center text-slate-500 py-8">Servicio no encontrado</div>
    <div class="flex justify-center">
      <button class="btn-outline" routerLink="/home/services">Volver a servicios</button>
    </div>
  }
</div>
